**/bin/
**/obj/
**/node_modules/
web/
.git/
.github/
infra/
tests/
docs/
roadmap/
**/.terraform/
**/*.tfstate*
**/*.user
**/TestResults/
.vs/
.idea/
.DS_Store
Dockerfile
.dockerignore
*.md
azure-pipelines.yml
